<!DOCTYPE html>
<html>
<head>
	<title>BukanToko</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="./assets/css/bootstrap.css"> -->
    <!-- <link rel="stylesheet" href="./assets/css/bootstrap.min.css"> -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="./assets/font-awesome/css/font-awesome.min.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>
</head>
<body>
<div id="app">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="./index.html">BukanToko</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Kategori <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Handphone</a></li>
                <li><a href="#">Komputer</a></li>
                <li><a href="#">Elektronik</a></li>
                <li><a href="#">Komputer dan Aksesoris</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Fashion Pria</a></li>
                <li><a href="#">Fashion Wanita</a></li>
                <li role="separator" class="divider"></li>
              </ul>
            </li>
          </ul>
          <form class="navbar-form navbar-left">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Cari produk atau kategori" size="75" onkeyup="myFunction()" id="search">
              <span class="input-group-btn">
                <button class="btn btn-success" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
              </span>
            </div>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#" data-toggle="modal" data-target="#myModal"><i class="material-icons">shopping_cart</i><span class="badge">{{count}}</span></a></li>
            <li><a href="#">Daftar</a></li>
            <li><a href="#">Masuk</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <header class="container">
    	test
    </header>
    <div class="container">
      <div class="col-md-3">
				<div class="panel panel-default">
  				<div class="panel-heading">KATEGORI</div>
    			  <ul class="list-group">
              <li class="list-group-item" ><a href="#">Handphone</a><span class="badge">13</span></li>
            </ul>
					</div>
					<div class="panel panel-default">
	  				<div class="panel-heading">SUPPORT</div>
	    			  <ul class="list-group">
	              <li class="list-group-item"><a href="#">Email Support</a></li>
	              <li class="list-group-item"><a href="#">FAQ</a></li>
	            </ul>
						</div>
      </div>
      <div class="col-md-9" id="table-data">        
      	<div class="col-sm-6 col-md-3" v-for="item in itemlists" id="tr">
          <div class="thumbnail" id="thumbnail" id="td">
            <img src="http://id-live-01.slatic.net/p/2/b_r-headphone-sony-mdr-xb450ap-extra-bass-stereo-headset-earphone-7179-08794471-81f07017aba15c5f32ffeb62af5156c7-webp-zoom.jpg" alt="...">
            <div class="caption">
              <p>{{item.name}}</p>
              <p>Rp. {{item.price}}</p>
              <p align="center"><a href="#" class="btn btn-success" role="button" v-on:click="addToCart(item)">Beli Sekarang</a></p>
            </div>
          </div>
        </div> 
      </div>
    </div>

    <!-- Modal -->
    <div id="myModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Keranjang Kamu</h4>
      </div>
            <table id="cart" class="table table-hover table-condensed">
            <thead>
            <tr>
              <th style="width:50%">Product</th>
              <th style="width:10%">Price</th>
              <th style="width:8%">Quantity</th>
              <th style="width:22%" class="text-center">Subtotal</th>
              <th style="width:10%"></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="cart in carts">
              <td data-th="Product" >
                <div class="row">
                  <div class="col-sm-3 hidden-xs"><img v-bind:src= "cart.img" alt="..." class="img-responsive" style=" height: 50px; width: 50px;" /></div>
                  <div class="col-sm-7">
                    <h5 class="nomargin">{{cart.name}}</h5>
                  </div>
                </div>
              </td>
              <td data-th="Price">{{cart.price}}</td>
              <td data-th="Quantity">
                <input type="text" class="form-control text-center" v-model="cart.jumlah" readonly>
              </td>
              <td data-th="Subtotal" class="text-center">{{cart.subtotal}}</td>
              <td class="actions" data-th="">
                <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>                
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr class="visible-xs">
            </tr>
            <tr>
              <td></td>
              <td colspan="2" class="hidden-xs"></td>
              <td class="hidden-xs text-center"><strong>Total RP {{total}}</strong></td>
              <td><a href="#" class="btn btn-success btn-block" v-on:click="checkout()">Checkout <i class="fa fa-angle-right"></i></a></td>
            </tr>
          </tfoot>
        </table>
        </div>
      </div>
    </div>
    </div>

    <script>
    function myFunction() {
      var input, filter, table, tr, td, i;
      input = document.getElementById("search");
      filter = input.value.toUpperCase();
      table = document.getElementById("table-data");
      tr = table.querySelectorAll("#tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].querySelectorAll("#td")[0];
        if (td) {
          if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }       
      }
    }
    </script>

    <script type="text/javascript">
      $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').focus()
      })
    </script>
</body>
    <script>
      var app = new Vue({
        el: '#app',
        data: {
          count : 0,
          carts :[],
          itemlists : [],
          total: 0
        },
        methods :{
          getAllItem : function(){
            var self = this
            axios.get('http://localhost:3000/api/items')
            .then(response=>{
              self.itemlists = response.data
            })
            .catch(err=>{
              console.log(err)
            })
          },
          addToCart : function(item){
            var self=this
            var index = this.carts.findIndex(carts=>carts._id == item._id)
             if(index!=-1){
                this.count++
                let newCart = this.carts[index]
                newCart['jumlah']+=1
                newCart.subtotal = newCart.jumlah * newCart.price
                this.carts.splice(index, 1, newCart)
              } else {
                  item['jumlah'] = 1;
                  item['subtotal'] = item.jumlah * item.price
                  this.carts.push(item)
                  this.count++
              }
              var total_price = 0
              this.carts.forEach(cart=>{
                total_price+=cart.subtotal;
              })
              self.total = total_price
          },
          checkout:function(){
            let self = this
            axios.post('http://localhost:3000/api/carts', {
              itemlist:self.carts,
              total:self.total,
              customer : '592e48c742d6b8202b1699f4'
            })
            .then(function(response){
              console.log(response)
              alert('Berhasil Checkout')
            })
            .catch(function(err){
              console.log(err);
            })
          }
        },
        created (){
          this.getAllItem()
          console.log(this.itemlists)
        }
      })
    </script>
</html>