<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="author" content="Tirta Wirya Putra">
    <meta name="description" content="Bricks Kingdom">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/style.css">
    <title>Bricks Kingdom</title>
  </head>
  <body>
    <div id="app">
      <header>
        <nav class="nav">
          <div class="nav-left">
            <a class="nav-item" href="index.html">
              <img src="./assets/img/Bricks Logo.jpeg" alt="Bricks logo">&nbsp;Kingdom
            </a>
            <div class="nav-item is-hidden-mobile">
              <p class="control">
                <input class="input" type="text" placeholder="Search for items">
              </p>
              <p class="control">
                <a class="button is-primary">Search</a>
              </p>
            </div>
          </div>
          <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
          <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
          <span class="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
          </span>
          <!-- This "nav-menu" is hidden on mobile -->
          <!-- Add the modifier "is-active" to display it on mobile -->

          <div class="nav-right nav-menu">
            <div class="nav-item">
              <!-- <a href="#" class="nav-item button is-white"><i class="fa fa-user-circle"></i>&nbsp;Register</a> -->
              <a href="index.html" class="nav-item button is-primary is-outlined"><i class="fa fa-sign-out"></i>&nbsp;Logout</a>
              <div class="cart">
                <div>
                  <button class="nav-item button is-white" @click="showCart = !showCart" v-show="!verified">
                    <i class="fa fa-shopping-cart fa-lg"></i>&nbsp;
                    {{ total_item + (total_item > 1 ? " items" : " item") }}
                  </button>
                </div>
                <div class="btn-cart" v-show="showCart">
                  <div v-show="items.length > 0">
                    <ul>
                      <li v-for="item in items" transition="fade">
                        <p><strong>{{ item.quantity }}</strong> - {{ item.name }} &nbsp;<i class="fa fa-trash fa-lg" @click="removeFromCart(item)"></i></p>
                      </li>
                    </ul>
                    <div><button @click="verified = true, showCart = false" class="button is-primary is-outlined">Check out</button></div>
                  </div>
                  <div v-show="items.length === 0">
                    <p>Your cart is empty!</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </header>
      <main>
        <section class="hero is-primary is-bold hero_bg">
          <div class="hero-body">
            <div class="container">
              <h1 class="title">
                Bricks Kingdom
              </h1>
              <h2 class="subtitle">
                Eat, Sleep, Build, Repeat
              </h2>
            </div>
          </div>
          <div class="hero-foot">
            <nav class="tabs is-boxed is-hidden-mobile">
              <div class="container">
                <ul>
                  <li class="is-active"><a href="index.html">Home</a></li>
                  <li><a>Lego Sets</a></li>
                  <li><a>Lego Minifigures</a></li>
                  <li><a>Lego SDCC</a></li>
                  <li><a>Latest Products</a></li>
                </ul>
              </div>
            </nav>
          </div>
        </section>
        <div class="container" v-show="!verified">
          <div class="content browse">
            <h2>Browse Categories&nbsp;<i class="fa fa-long-arrow-right fa-lg"></i></h2>
          </div>
        </div>
        <div class="container" v-show="!verified">
          <div class="columns">

            <div class="column category">
              <div class="card">
                <div class="card-image">
                  <figure class="image is-2by1">
                    <img src="assets/img/sets.jpeg" alt="Lego Sets">
                  </figure>
                </div>
                <div class="card-content">
                  <div class="content">
                    Enjoy an endless world of fun and creativity with this LEGO® buildings set.
                    Dream it, build it and play it with LEGO building sets!
                    <br><br>
                    <small><span class="tag is-info is-medium">Sets</span></small>
                  </div>
                </div>
              </div>
            </div>

            <div class="column category">
              <div class="card">
                <div class="card-image">
                  <figure class="image is-2by1">
                    <img src="assets/img/minifigs.jpeg" alt="Minifigure Lego">
                  </figure>
                </div>
                <div class="card-content">
                  <div class="content">
                    Get to know all the new characters right in the new Series 17 Minifigures collection!
                    Who's your favorite Series 17 character?
                    <br><br>
                    <small><span class="tag is-info is-medium">Minifigures</span></small>
                  </div>
                </div>
              </div>
            </div>

            <div class="column category">
              <div class="card">
                <div class="card-image">
                  <figure class="image is-2by1">
                    <img src="assets/img/sdcc.jpeg" alt="Lego SDCC">
                  </figure>
                </div>
                <div class="card-content">
                  <div class="content">
                    This list contains the Rarest and Most Expensive Lego Minifigures currently know to exist.
                    <br><br>
                    <small><span class="tag is-info is-medium">SDCC</span></small>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <!-- Between category and all -->
        <div class="container" v-show="!verified">
          <div class="content browse">
            <h2>Browse all product&nbsp;<i class="fa fa-long-arrow-right fa-lg"></i></h2>
          </div>
        </div>
        <div class="container" v-show="!verified">
          <div class="columns is-multiline">
            <div class="column is-one-quarter all" v-for="item in shop">
              <div class="card">
                <div class="card-image">
                  <figure class="image is-16by9">
                    <img :src="item.image" :alt="item.name">
                  </figure>
                </div>
                <div class="card-content">
                  <div class="content">
                    {{item.name}}<br>
                    <a>Rp. {{item.price}},-</a>
                    <br>Stock: {{item.stock}}<br>
                    <br>
                    <div class="block level">
                      <span class="tag is-info">{{item.category}}</span>
                      <a class="button is-small is-danger is-outlined is-right" @click="check(item)">
                        <i class="fa fa-shopping-cart fa-lg"></i>
                        &nbsp;Buy
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="checkout" v-show="verified">
          <h3><i class="fa fa-shopping-cart fa-lg">&nbsp;Your purchase:</i></h3>
          <div class="columns">
            <div class="column column is-4">
              <h5 v-for="item in items">{{ item.quantity }} - {{ item.name }}</h5>
            </div>
            <div class="column column is-4 is-offset-4">
              <h5 v-for="item in items">Rp. {{ item.price * item.quantity }},-</h5>
            </div>
          </div>
            <hr />
          <div class="columns">
            <div class="column column is-4 is-offset-4 right">
              <h5>Total: </h5>
            </div>
            <div class="column column is-4">
              <h5>Rp. {{ total }},-</h5>
            </div>
          </div>
          <div class="columns">
            <div class="column column is-4 is-offset-8">
              <a class="button is-info is-medium is-outlined" @click="checkOut()">Looks Good</a>
            </div>
          </div>
        </div>
      </main>
    </div>
    <footer class="footer">
      <div class="columns">
        <div class="column">
          <p class="has-text-left">Made with <i class="fa fa-heart fa-lg"></i> by <a href="http://tirtawiryaputra.com" target="_blank">TWP</a></p>
        </div>
        <div class="column"></div>
        <div class="column"></div>
        <div class="column">
          <p class="has-text-right"> Powered by
          <a href="http://bulma.io" target="_blank">bulma</a></p>
        </div>
      </div>
    </footer>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="/assets/main.js"></script>
  </body>
</html>
