<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6 lt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7 lt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8 lt8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" class="no-js"> <!--<![endif]-->
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.3/vue.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.1/axios.min.js"></script>

        <meta charset="UTF-8" />
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">  -->
        <title>Login and Registration Form with HTML5 and CSS3</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Login and Registration Form with HTML5 and CSS3" />
        <meta name="keywords" content="html5, css3, form, switch, animation, :target, pseudo-class" />
        <meta name="author" content="Codrops" />
        <link rel="shortcut icon" href="../favicon.ico">
        <link rel="stylesheet" type="text/css" href="css/demo.css" />
        <link rel="stylesheet" type="text/css" href="css/style2.css" />
		<link rel="stylesheet" type="text/css" href="css/animate-custom.css" />
    </head>
    <body>
      <div id="app">


        <div class="container">
            <!-- Codrops top bar -->

            <header>
                <br>
                <h1>Login and Registration Form <span>Erler-Shop</span></h1>
                <br>
                <br>
            </header>
            <section>
                <div id="container_demo" >
                    <!-- hidden anchor to stop jump http://www.css3create.com/Astuce-Empecher-le-scroll-avec-l-utilisation-de-target#wrap4  -->
                    <a class="hiddenanchor" id="toregister"></a>
                    <a class="hiddenanchor" id="tologin"></a>
                    <div id="wrapper">
                      <div id="login" class="animate form">
                          <form autocomplete="on">
                              <h1>Log in</h1>
                              <p>
                                  <label for="username" class="uname" data-icon="u" > Your email or username </label>
                                  <input v-model="username" id="username" name="username" required="required" type="text" placeholder="myusername or mymail@mail.com"/>
                              </p>
                              <p>
                                  <label for="password" class="youpasswd" data-icon="p"> Your password </label>
                                  <input v-model="password" id="password" name="password" required="required" type="password" placeholder="your password.." />
                              </p>
                              <p class="keeplogin">
                									<input type="checkbox"  id="loginkeeping" />
                									<label for="loginkeeping">Keep me logged in</label>
              								</p>
                                  <p class="login button">
                                  <!-- <input @click="login" value="Login" /> -->
                                  <button @click="login">Login</button>
              								</p>
                                  <p class="change_link">
    									             Not a member yet ?
    									            <a href="#toregister" class="to_register">Join us</a>
              								</p>
                          </form>
                      </div>

                      <div id="register" class="animate form">
                          <form   autocomplete="on">
                              <h1> Sign up </h1>
                              <p>
                                  <label data-icon="u">Your name</label>
                                  <input v-model="name" required="required" type="text" placeholder="mysuperusername690" />
                              </p>
                              <p>
                                  <label for="usernamesignup" class="uname" data-icon="u">Your username</label>
                                  <input v-model="username" id="usernamesignup" name="usernamesignup" required="required" type="text" placeholder="mysuperusername690" />
                              </p>
                              <p>
                                  <label for="passwordsignup" class="youpasswd" data-icon="p">Your password </label>
                                  <input v-model="password" id="passwordsignup" name="passwordsignup" required="required" type="password" placeholder="eg. X8df!90EO"/>
                              </p>
                              <p>
                                  <label data-icon="u">Member Id</label>
                                  <input v-model="memberid" required="required" type="text" placeholder="mysuperusername690" />
                              </p>
                              <p>
                                  <label data-icon="u">address</label>
                                  <input v-model="address" required="required" type="text" placeholder="mysuperusername690" />
                              </p>
                              <p>
                                  <label data-icon="u">zipcode</label>
                                  <input v-model="zipcode" required="required" type="text" placeholder="mysuperusername690" />
                              </p>
                              <p>
                                  <label data-icon="u">phone</label>
                                  <input v-model="phone" required="required" type="text" placeholder="mysuperusername690" />
                              </p>
                              <p class="signin button">
              									<input type="submit" @click="register" />
              								</p>
                              <p class="change_link">
              									Already a member ?
              									<a href="#tologin" class="to_register"> Go and log in </a>
              								</p>
                          </form>
                      </div>

                    </div>
                </div>
            </section>
        </div>
      </div>
    </body>
    <script type="text/javascript">
    var app = new Vue({
      el: '#app',
      data: {
        username:'',
        password:'',
        message: 'You loaded this page on ' + new Date(),
        name:'',
        memberid:'',
        address:'',
        zipcode:'',
        phone:''
      },
      methods:{
        login() {
          console.log('login masuk sini');
          let self = this
          axios.post('http://localhost:3000/api/signin', {
            username: self.username,
            password: self.password
          })
          .then((response) => {
            console.log('haloooooo');
            console.log(response.data);
            console.log('haloo mengapit response');
            self.message = response.data.message
            console.log(response.data);
            localStorage.setItem('token', response.data)
            window.location.href = "/index.html"
        })
          .catch(err => {
            alert('error login')
            console.log(err);
          })
        },
        register() {
          let self = this
          axios.post('http://localhost:3000/api/signup', {
            name:self.name,
            username: self.username,
            password: self.password,
            memberid: self.memberid,
            address: self.address,
            zipcode: self.zipcode,
            phone: self.phone
          })
          .then((response) => {
            alert('register mision has been completed')
            window.location.href = "/login.html"
          })
          .catch(err => {
            alert('error register')
            console.log(err);
          })
        }
      },
      created: function () {
        console.log(localStorage);
        if(localStorage.getItem('token') != null){
          // window.location.href = "/login.html"
        }
      }
    })
    </script>
</html>
