.hero_bg {
  background-color: #46b3c4;
  position: relative;
  margin-bottom: 1em;
}

.hero_bg::before {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  content: '';
  opacity: 0.05;
  background-image: url("img/pattern.png");
  background-size: 160px 168px;
}

.cart button {
  border: 0;
  background: #FFDBE0;
  transition: all .1s ease-out;
  margin: 1em;
}

.fade-transition {
  transition: all 0.2s ease-out;
}

.fade-enter, .fade-leave {
  opacity: 0;
}

.btn-cart > div {
  z-index: 100;
  background: #fff;
  padding: 20px 30px;
  position: absolute;
  right: 30px;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.3);
}

.btn-cart > div div {
  text-align: center;
}

.btn-cart ul, .btn-cart li, .btn-cart p {
  margin-bottom: 0;
}

.btn-cart button {
  margin: 20px 0 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 2px;
}

.fa-trash {
  color: #ff3860;
}

.browse {
  margin: 2em auto;
}

.category {
  margin: 0 1em;
}

.all {
  margin: 1em 0;
}

.checkout {
  padding: 3em 4em;
}

.checkout h3 {
  font-size: 2.3em;
  font-weight: bold;
  margin-bottom: 1em;
}

.checkout h5 {
  font-size: 1.6em;
}

.right {
  text-align: right;
}

.footer {
  background-color: #4f5f6f;
  padding: 2em 2em;
  margin-top: 2em;
  color: whitesmoke;
}

.footer a:hover {
  color: #ff3860;
}

.fa-heart {
  color: #fb866a;
}

/* orange #E55400 */
